.video-js .vjs-overlay {
    background-color: white;
    color: black;
    text-align: left;
}

.video-js .vjs-overlay .form-check-input {
    position: relative;
}

.video-js .vjs-overlay .form-check-label {
    position: relative;
    font-size: 1.75em;
    margin-left: 1%;
}

.video-js .vjs-overlay .btn-primary {
    background-color: #0275d8;
    color: white;
}